html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-size: 20px;
	font-weight: 100;
}

h1 {
	text-align: center;
	font-size: 32px;
	font-weight: 300;
}

h2 {
	font-size: 28px;
	font-weight: 300;
}

h3 {
	font-size:24px;
	font-weight: 300;
	margin: 5px 0;
}

#home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

svg {
	width: 100%;
	height: inherit;
}

text {
	text-anchor: middle;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#alpha {
	fill: rgba(255, 255, 255, 0.80);
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:2.5s;
	-moz-animation-duration:2.5s;
	animation-duration:2.5s;
}

#name {
	font-size: 8em;
	font-weight: 200;
}

#position {
	letter-spacing: 10px;
	font-size: 1.8em;
	text-transform: uppercase;
}

/*#base {
	fill: rgb(0, 0, 0);
	mask: url(http://www.beegsmith.com/#mask);
}*/

#base {
	fill: rgb(0, 0, 0);
	mask: url(#mask);
}

section.hero {
	background: url('images/patriarchHike.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 100%;
}

.navbar {
	min-height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	border-bottom: 0;
	text-align: center;

}

.navbar-nav {
	position: relative;
	left: 50%;
	margin-left: -274px;
} 

.nav a {
	font-size: 18px;
	color: #000;
	display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.borderline {
  position: relative;
}

.borderline:after,
.borderline:before {
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgba(191, 173, 81 ,1);
  content: "";
  transition: 0.5s;
}

.borderline:after {
  left: 0;
  bottom: 10px;
}

.borderline:before {
  right: 0;
  top: 10px;
}

.borderline:hover:after, .borderline:hover:before {
  width: 100%;
}

#about-container {
	width: 100%;
	background-color: #1f1f1f;
	overflow: hidden;
}

.about {
	width: 70%;
	height: 100%;
	color: #fff;
	margin: 0 auto 25px;
}

#portfolio-container {
	width: 100%;
	background-color: #3d3d3d;
	padding: 1px 0px 25px;
}

.portfolio {
	width: 85%;
	height: 100%;
	color: #c2c2c2;
	margin: 0 auto;
}

.item > img {
	margin: 0 auto;
    height: 100%;
    width: 100%;
}

.item > video {
	margin: 0 auto;
}

#resume-container {
	width: 100%;
	background-color: #c2c2c2;
	padding-top: 1px;
}

.resume {
	width: 70%;
	height: 100%;
	margin: 0 auto 25px;
	color: #3d3d3d;
}

 p.center {
    text-align: center;
    margin: 0;
 }


#contact-container {
	width: 100%;
	background-color: #e0e0e0;
	overflow:hidden;
	word-wrap: normal;
}

.contact {
	width: 70%;
	height: 100%;
	color: #000;
	margin: 0 auto;
}

.contact-icons {
	text-align: center;
}


.fa {
    color: rgba(255, 255, 255, 0.8);
    text-align:center;
    margin: 10px 18px 25px;
    font-size: 45px !important;
}

.fa:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 600px) {
	button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
		display: none !important;
	}

	#name {
	font-size: 4em;
	}

	#position {
	letter-spacing: 8px;
	font-size: 1.5em;
	font-weight: bold;
}	
}
